joblib==1.4.2
matplotlib==3.10.3
networkx==3.2.1
numpy==2.2.6
pandas==2.2.3
plotly==6.1.1
PyGithub==2.6.1
PyGithub==2.6.1
python-dotenv==1.1.0
scikit_learn==1.6.1
seaborn==0.13.2
streamlit==1.45.1
tqdm==4.67.1
